table {
    width: 50%; /* Ширина таблицы */
    border: 1px solid; /* Рамка вокруг таблицы */
    margin: auto; /* Выравниваем таблицу по центру окна  */
}
td {
    text-align: center; /* Выравниваем текст по центру ячейки */
}
/*todo прописать пути и добавить импорт*/